
@{
    ViewData["Title"] = "Index";
    Layout = "_MainPageLayout";
}

<div class="events">
    <h1 class="events_title title">Nasze wydarzenia</h1>
    <div class="events__map">nasza mapa</div>
    <button class="events__button">Zobacz wszystkie wydarznenia</button>
</div>

