
@{
    ViewData["Title"] = "Index";
    Layout = "_MainPageLayout";
}

<div class="events">
    <h1 class="events_title title">Nasze wydarzenia</h1>
    <div class="events__map">nasza mapa</div>
    <button class="events__button">Zobacz wszystkie wydarznenia</button>
</div>


<div class="pictures">

    <div class="pictures__item">
        <img src="~/images/picture_1.jpg" />
    </div>

    <div class="pictures__item">
        <img src="~/images/picture_2.jpg" />
    </div>

    <div class="pictures__item">
        <img src="~/images/picture_3.jpg" />
    </div>

    <div class="pictures__item">
        <img src="~/images/picture_4.jpg" />
    </div>



</div>
