
@{
    ViewData["Title"] = "Index";
    Layout = "_MainPageLayout";
}
<div class="container">
    <div class="events">
        <h1 class="events_title title">Nasze wydarzenia</h1>
        <div class="events__map">nasza mapa</div>
        <button class="events__button"><a asp-area="" asp-controller="Event">Zobacz wszystkie wydarznenia</a></button>
    </div>


    <div class="pictures">

        <div class="pictures__item">
            <img src="~/images/picture_1.jpg" />
        </div>

        <div class="pictures__item">
            <img src="~/images/picture_2.jpg" />
        </div>

        <div class="pictures__item">
            <img src="~/images/picture_3.jpg" />
        </div>

        <div class="pictures__item">
            <img src="~/images/picture_4.jpg" />
        </div>



    </div>
    <div class="events"><h1 class="events_title title">Dlaczego my?</h1></div>

    <div class="notes">

        <div class="notes__item">
            <h3>Integracja z ludźmi</h3>
        </div>
        
        <div class="notes__item">
            <h3>Twórz zespoły z innymi</h3>
        </div>

        <div class="notes__item">
            <h3>To co Cię interesuje</h3>
        </div>

        <div class="notes__item">
            <h3>Wszystko w jednym miejscu</h3>
        </div>

    </div>

    <div class="notes">
        <div class="notes__item"><i class="fas fa-user-friends"></i></div>
        <div class="notes__item"><i class="far fa-handshake"></i></div>
        <div class="notes__item"><i class="fas fa-bell"></i></div>
        <div class="notes__item"><i class="fas fa-map-pin"></i></div>
    </div>

    <div class="notes">
        <div class="notes__item__text">
            Integer in metus sit amet odio elementum faucibus. Curabitur hendrerit dui at mi pretium consectetur. Nulla luctus molestie ipsum eu hendrerit. Proin luctus vehicula lacus, tincidunt interdum odio volutpat eget. Vivamus eu eros viverra, facilisis odio nec, porta mi. In nulla lacus, efficitur id faucibus non, tincidunt lobortis nunc. Aliquam erat volutpat. Donec ut convallis eros. Nunc scelerisque consequat neque sed imperdiet. Nam non posuere ante. Curabitur quis aliquam purus. Donec sit amet nunc at neque vehicula pulvinar sit amet non velit. Morbi accumsan eget risus ac ornare.
        </div>
        <div class="notes__item__text">
            Vestibulum hendrerit mauris eget dolor gravida, at finibus justo convallis. Sed fringilla eleifend eros, sit amet sodales orci vestibulum sagittis. Mauris eget justo ex. Ut lacus risus, auctor at mollis vitae, tempor ut diam. Duis interdum, urna vel sagittis vulputate, tellus purus placerat nibh, at tincidunt lorem purus id sem. Mauris molestie porttitor diam eu viverra. Cras fringilla eget ex vel commodo. Proin hendrerit justo et dictum tincidunt.
        </div>
        <div class="notes__item__text">
            Proin sollicitudin euismod mauris, at aliquet libero elementum et. Proin convallis posuere tortor sit amet volutpat. Curabitur sed turpis vestibulum, sollicitudin sapien eu, congue nibh. Integer fermentum faucibus sapien nec facilisis. Fusce tincidunt id est eu feugiat. Integer id est eget nibh mollis egestas. Praesent quis congue ex, in pretium arcu. Aliquam sed ultricies urna, ut pellentesque eros.
        </div>
        <div class="notes__item__text">
            nteger venenatis efficitur tristique. Curabitur cursus sapien in ante tristique molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas eget auctor dui. Proin non lectus nulla. Nulla consectetur, diam id consectetur tempor, mauris quam imperdiet metus, non auctor urna lacus a metus. Praesent auctor nulla suscipit risus pulvinar bibendum. Ut dapibus metus vel mollis rutrum. Phasellus varius risus vel lobortis suscipit. Morbi suscipit sem at elementum posuere.
        </div>

    </div>

</div>