
@{
    ViewData["Title"] = "Index";
    Layout = "_MainPageLayout";
}

<div class="events">
    <h1 class="events_title title">Nasze wydarzenia</h1>
    <div class="events__map">nasza mapa</div>
    <button class="events__button">Zobacz wszystkie wydarznenia</button>
</div>


<div class="pictures">

    <div pictures__item>
        HALO1


    </div>


    <div pictures__item>
        HALO2

    </div>


    <div pictures__item>
        HALO3

    </div>


    <div pictures__item>
        HALO4

    </div>






</div>
