
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>


<div class="login">
    <div class="login__logo">
        <!--Add logo-->
    </div>

    <div class="login__block">
        <label class="login__block__name" for"">Login</label>
        <input type="text" name="Nickname" class="login__block__entry" placeholder="Login" />
    </div>

    <div class="login__block">
        <label class="login__block__name" for"">Hasło</label>
        <input type="password" name="Password" class="login__block__entry" placeholder="Hasło" />
    </div>

    <!--Add link-->
    <a href="#" class="login__link"><small>Zapomniałeś hasła?</small></a>

    <div class="login__block">
        <a href="#" class="login__link"><small>Zapomniałeś hasła?</small></a>
        <button type="submit" class="login__block__button">Login!</button>
    </div>

</div>
