
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-controller="Login" asp-action="Login" method="post">
    <div class="login">
        <div class="login__logo">
            <!--Add logo-->
        </div>

        <div class="login__block">
            <label class="login__block__name" for"">Login</label>
            <input type="text" name="Username" class="login__block__entry" placeholder="Login" />
        </div>

        <div class="login__block">
            <label class="login__block__name" for"">Hasło</label>
            <input type="password" name="Password" class="login__block__entry" placeholder="Hasło" />
        </div>

        <!--Add link-->
        <div class="login__block">
            <a href="#" class="login__block__link"><small>Zapomniałeś hasła?</small></a>
        </div>
        <div class="login__block">
            <a href="#" class="login__block__link"><small>Zapomniałeś hasła?</small></a>
            <button type="submit" class="login__block__button">Log in!</button>
        </div>

    </div>
</form>
