
@{
    ViewData["Title"] = "Add";

}

<h2>Dodaj wydarzenie</h2>

<div class="addEvent">
    
    <div class="addEvent__block">
        <label class="addEvent__block__name" for"">Nazwa</label>
        <input type="text" name="Name" class="input__block__entry" placeholder="Nowy event">
    </div>
    <div class="addEvent__block">
        <label class="addEvent__block__name" for"">Data</label>
            <input type="datetime" name="Date" class="input__block__entry" placeholder="19.06.2018">
        </div>
        <div class="addEvent__block">
            <label class="addEvent__block__name" for"">Miasto</label>
            <input type="text" name="City" class="input__block__entry" placeholder="Kielce">
        </div>
        <div class="addEvent__block">
            <label class="addEvent__block__name" for"">Ulica</label>
            <input type="text" name="Street" class="input__block__entry" placeholder="Aleja IX">
        </div>
        <div class="addEvent__block">
            <label class="addEvent__block__name" for"">Numer</label>
            <input type="text" name="HouseNumber" class="input__block__entry" placeholder="15">
        </div>
        <div class="addEvent__block">
            <label class="addEvent__block__name" for"">Kod pocztowy</label>
            <input type="text" name="PostCode" class="input__block__entry" placeholder="16-205">
        </div>
        
        <div class="addEvent__block">
            <button type="submit" class="addEvent__block__button">Dodaj!</button>
            
        </div>

    </div>
<div class="table">
    <div style="order:0;" class="table-cell table-cell--head"><h3>Nazwa</h3></div>
    <div style="order:1;" class="table-cell">1</div>
    <div style="order:2;" class="table-cell">2</div>

    <div style="order:0;" class="table-cell table-cell--head"><h3>Miasto</h3></div>
    <div style="order:1;" class="table-cell">Has a sword named Ice</div>
    <div style="order:2;" class="table-cell">No direwolf</div>
    <div style="order:0;" class="table-cell table-cell--head"><h3>Adres</h3></div>
    <div style="order:1;" class="table-cell">Has a sword named Ice</div>
    <div style="order:2;" class="table-cell">No direwolf</div>
    <div style="order:0;" class="table-cell table-cell--head"><h3>Data</h3></div>
    <div style="order:1;" class="table-cell">Has a sword named Ice</div>
    <div style="order:2;" class="table-cell">No direwolf</div>
</div>
