
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<form class="addEvent">

    <div class="input__block">
        <label class="input__block__name" for"">Nazwa</label>
        <input type="text" name="Name" class="input__block__entry">
    </div>
    <div class="input__block">
        <label class="input__block__name" for"">Data</label>
        <input type="datetime" name="Name" class="input__block__entry">
    </div>
    <div class="input__block">
        <label class="input__block__name" for"">Data</label>
        <input type="text" name="Date" class="input__block__entry">
    </div>

</form>
