@model GameX.ViewModel.EventViewModel
@{
    ViewData["Title"] = "Index";
}
<style>
    .table {
        position: relative;
        top: 3px;
        left: 3px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 3em 0;
        padding: 0;
    }
    .table-cell {
        box-sizing: border-box;
        flex-grow: 1;
        width: 100%;
        padding: 0.8em 1.2em;
        overflow: hidden;
        list-style: none;
        border: solid 3px white;
        background: rgba(112, 128, 144, 0.2);
        display: block;
       width: 25%;
    }
    .table-cell--head {
        background-color: slategrey;
        border-color: #5a6673;
        color: white;
        width: 25%
    }
</style>
<div class="table">
    <div style="order:0;" class="table-cell table-cell--head"><h3>Nazwa</h3></div>
    <div style="order:1;" class="table-cell">1</div>
    <div style="order:2;" class="table-cell">2</div>

    <div style="order:0;" class="table-cell table-cell--head"><h3>Miasto</h3></div>
    <div style="order:1;" class="table-cell">Has a sword named Ice</div>
    <div style="order:2;" class="table-cell">No direwolf</div>
    <div style="order:0;" class="table-cell table-cell--head"><h3>Adres</h3></div>
    <div style="order:1;" class="table-cell">Has a sword named Ice</div>
    <div style="order:2;" class="table-cell">No direwolf</div>
    <div style="order:0;" class="table-cell table-cell--head"><h3>Data</h3></div>
    <div style="order:1;" class="table-cell">Has a sword named Ice</div>
    <div style="order:2;" class="table-cell">No direwolf</div>
</div>


