$hoverColor: #f6ae3a;
$blue--hover: #2980b9;
$cloud: #ecf0f1;
$cloud--hover: #bdc3c7;
$transition: all 146ms ease;
$shadow: 0 30px 60px -30px rgba(0, 0, 0, .5);
$radius: 27px;
$blue: #3498db;
$gray: #8a8a8a;
$border_color:#f2f2f2;

body{
    font-family: 'Open Sans' !important;
}
.addEvent {
    align-self: center;
    border: 1px solid $border_color;
    border-radius: $radius;
    min-width: 350px;
    max-width: 450px;
    width: 40vw;
    padding: 2rem;

    .addEvent__block {
        justify-content: center;
        display: flex;
        align-content: space-between;
        margin-bottom: .6em;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }


        .addEvent__block__name {
            flex-basis: 30%;
        }

        .input__block__entry {
            border-left: 1px solid #ccc;
            flex-grow: 1;
            font-size: 1.3rem;
            font-weight: 500;
            padding: .35em .5em;
            border: 1px solid #aaa;
            border-radius: $radius;
            max-width: 25em;

            &:focus {
                outline: none;
                border: 1px solid $blue;
            }
        }

        .addEvent__block__button {
            position: center;
            padding: .35em 1em;
            box-shadow: $shadow;
            cursor: pointer;
            border: 1px solid $blue;
            background-color: #fff;
            transition: $transition;
            font-size: 1.2rem;
            border-radius: $radius;
            color: #333;


            &:enabled:hover {
                background-color: $blue;
                color: #fff;
                box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .3);
            }

            &--filled {
                @extend .addEvent__block__button;
                background-color: $blue;
                border-color: $blue;
                color: #fff;

                &:enabled:hover {
                    background-color: $blue--hover;
                    border-color: $blue--hover;
                }
            }

            &:disabled {
                background-color: $cloud;
                border-color: $cloud--hover;
                color: #6a6a6a;
            }
        }
    }
}

.header {
    background-image: url("../images/header-background.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    height: 600px;
}
.navigation {
    background-color: rgba(243, 243, 243, 0.3);
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
    color: #ffffff;
    height: 70px;
    font-weight: bold;

    .navigation__logo img{
        height: 30px;
    }

    a {
        color: #ffffff;
    }

    .navigation__menuItems {
        display: flex;


        .navigation__menuItemes__item:hover a {
            color: $blue;
            text-decoration: none;
        }

        .navigation__menuItemes__item:first-child {
            padding: 0;
        }

        .navigation__menuItemes__item {
            padding-left: 40px;

            .navigation__menuItemes__item__mainItem {
                list-style-type: none;
                padding: 0;
                width: 80px;

                .navigation__menuItemes__item__mainItem__subMenuItems:hover > .navigation__menuItemes__item__subMenu {
                    display: block;
                }

                .navigation__menuItemes__item__mainItem__subMenuItems {

                    .navigation__menuItemes__item__subMenu {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        display: none;
                        background-color: #ffffff;

                        .navigation__menuItemes__item__subMenu_item {
                            padding: 10px;
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
}
.header__title{
    font-family: 'Open Sans';
    font-size: 48px;
    text-align: center;
    margin-top: 150px;
    color: #ffffff;

}
.table {
    position: relative;
    top: 3px;
    left: 3px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;
}
.table__row {
    display: flex;
    width: 100%;

    &:hover {
        background: rgba(112, 128, 144, 0.6);

        .far {
            display: block !important;
        }
    }

    .table-cell {
        box-sizing: border-box;
        display: flex !important;
        justify-content: space-between;
        flex-grow: 1;
        width: 100%;
        padding: 0.8em 1.2em;
        overflow: hidden;
        list-style: none;
        border: solid 3px white;
        background: rgba(112, 128, 144, 0.2);
        display: block;
        width: 25%;



        table-cell__icon {
            display: flex;

            .far {
                display: none;
                
            }
        }
    }
}

.table-cell--head {
    background-color: slategrey;
    border-color: #5a6673;
    color: white;
    width: 25%
}


.login, .registered {
    background-color: #fff;
    padding: 2rem;
    border: 1px solid $border_color;
    border-radius: $radius;
    max-width: 450px;
    justify-content: center;

    .login__block, .registered__block {
        display: flex;
        padding: 10px;
        position: center;
        justify-content: center;
        align-items: center;

        .login__block__entry, .registered__block__entry {
            padding: 5px 5%;
            border: 1px solid $gray;
            font-size: 105%;
            letter-spacing: .8px;
            margin-left: 3%;
            border-radius: $radius;

            &:focus {
                outline: none;
                border: 1px solid $blue;
            }
        }

        .login__block__link {
            text-decoration: none;
            padding-right: 30px;

            &:hover {
                color: $gray;
            }
        }

        .login__block__button, .registered__block__button {
            float: right;
            width: 11ex;
            height: 5ex;
            -moz-border-radius: $radius;
            -webkit-border-radius: $radius;
            border-radius: $radius;
            background-color: $blue;
            border: 1px solid $blue;
            font-size: small;
            color: #fff;
            font-weight: bold;

            &:hover {
                background-color: #fff;
                border: 1px solid #55b1df;
                color: #55b1df;
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }
}
.events {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .title, events_title {
        text-align: center;
        font-weight: 400;
        padding: 20px;
    }

    .events__map {
        height: 350px;
        background-color: green;
    }

    .events__button {
        border: 2px solid $blue;
        background: none;
        margin-top: 20px;
        padding: 10px;
        width: 150px;
        align-self: center;

        &:hover {
            background-color: $blue;
            color: #ffffff;
        }
    }
}

.pictures {
    display: flex;
    width: 100%;
    height: auto;
    margin: 50px 0;

    .pictures__item {
        display: flex;
        width: 25%;
        height: 150px;
        opacity: 1;
    }

    .pictures__item img {
        height: 100%;
        width: 100%;

        &:hover {
            opacity: 0.7;
            transition: opacity 0.5s ease-in-out;
        }
    }
}


.userPage {
    margin-left: 30px;
    font-size: 20px;

    .userPage__item {
        margin-left: 40px;
        border-radius: $radius;
        border: 2px solid $blue;
        padding: 20px;

    }
}
